@font-face {
  font-family: "Gotham Black";
  src: url("../assets/fonts/Gotham-Black.woff2") format("woff2"),
    url("../assets/fonts/Gotham-Black.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SUSE";
  src: url("../assets/fonts/SUSE-VariableFont_wght.woff2")
      format("woff2 supports variations"),
    url("../assets/fonts/SUSE-VariableFont_wght.ttf")
      format("truetype supports variations");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wght" 400 700;
}
